@model EmployerVM
@{
    Layout = "_AdminLayout";
}

<div class="card shadow border-0 mb-7 " style="width: 75vw;height: 80vh;">
    <div class="card-header">
        <h5 class="mb-0">Companies</h5>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-nowrap">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Date of Joining</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Jobs Posted</th>
                    <th scope="col">Applicants Selected</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for(int i=0;i<ViewBag.companies.Count;i++){
                <tr>
                    <td>
                            <img alt="..." src="~/@ViewBag.companies[i].Logo" class="avatar avatar-sm rounded-circle me-2" style="width:60px">
                        <a class="text-heading font-semibold" href="#">
                                @ViewBag.companies[i].Company_Name
                        </a>
                    </td>
                    <td>
                            @ViewBag.companies[i].DOJ.Split(" ")[0]
                    </td>
                    <td>
                        <a class="text-heading font-semibold" href="#">
                                @ViewBag.companies[i].Phone
                        </a>
                    </td>
                    <td>
                        @ViewBag.jobs[i]
                    </td>
                    <td>
                        <span class="badge badge-lg badge-dot">
                                <i class="bg-success"></i>@ViewBag.apply[i]
                        </span>
                    </td>
                    <td class="text-end">
                            <button data-toggle="modal" type="button" onclick="comget('@ViewBag.companies[i].Id')" class="btn btn-sm btn-neutral">Edit</button>
                        <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover">
                                <i class="bi bi-trash" onclick="deletecom('@ViewBag.companies[i].UserId')"></i>
                        </button>
                    </td>
                </tr>
                }
                                
            </tbody>
        </table>
    </div>
    <div class="card-footer border-0 py-5">
        <span class="text-muted text-sm">@ViewBag.companies.Count Companies</span>
    </div>
</div>
<div class="modal fade" id="EmployerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" style="min-width:min(800px,95vw) !important">
        <div class="modal-content" >
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Company</h4>
                <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="Post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                         
                                <label>Company Name</label>
                        </div>
                            <div class="col-6">

                        <label>Company Email</label>
                        </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-6">
                            <input id="id" type="hidden" asp-for="Id" value="0" /> 
                        <input type="text" class="form-control" asp-for="Company_Name" placeholder="Company Name" id="com_name">
                                <span asp-validation-for="Company_Name"  class="text-danger"></span>
                        </div>
                            <div class="col-6">

                                <input type="email" class="form-control" id="com_email" placeholder="Comapny Email" asp-for="Email">
                                <span asp-validation-for="Email" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-6">

                            <label>Address</label>
                            </div>
                            <div class="col-6">

                            <label>Company Headquarter Country</label></div>

                            </div>
                        <div class="row mt-2">
                            <div class="col-6">

                            <input type="text" class="form-control" placeholder="Company Address" asp-for="Address" id="com_add">
                                <span asp-validation-for="Address" class="text-danger"></span>

                            </div>
                            <div class="col-6">

                                <input type="text" class="form-control" placeholder="Country" asp-for="Country" id="com_country">
                                <span asp-validation-for="Country" class="text-danger"></span>

                            </div>
                        </div>
                        
                        <div class="row mt-2">
                            <div class="col-6">

                        <label>Company Locations</label>
                        </div>
                            <div class="col-6">

                            <label>Company Phone Number</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-6">

                                <input type="text" class="form-control" placeholder="Locations(Comma Seperated)" asp-for="Locations" id="com_loc">
                                <span asp-validation-for="Locations" class="text-danger"></span>
                        </div>
                            <div class="col-6">

                                <input type="tel" class="form-control" placeholder="Phone Number" asp-for="Phone" id="com_phone">
                                <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-6">
                        <input type="file" class="form-control" id="profile-image" onchange="previewProfileImage()" style="display:none" asp-for="Logo">
                        <button type="button" class="btn btn-primary form-control" onclick="trigger('profile-image')">Preview Image</button>
                                <span asp-validation-for="Logo" class="text-danger"></span>
                            </div>
                            <div class="col-6">

                        <img id="com_image" class="preview-image" src="#" alt="Preview Profile Image" style="display:none" >
                        </div>
                        </div>


                    </div>
                
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Save</button>
                <button type="button" class="btn btn-danger close-modal" data-dismiss="modal">Close</button>

            </div>
            </form>
        </div>
    </div>
</div>

</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}