@{
    Layout = "_AdminLayout";
}

<div class="card shadow border-0 mb-7 " style="width: 75vw;height: 80vh;">
    <div class="card-header">
        <h5 class="mb-0">Jobs</h5>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-nowrap">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Company</th>
                    <th scope="col">Date</th>
                    <th scope="col">Job Type</th>
                    <th scope="col">Total Applicants</th>
                    <th scope="col">Applicants Selected</th>
                    
                </tr>
            </thead>
            <tbody>
                @for(int i=0;i<ViewBag.job.Count;i++){
                <tr>
                    <td>
                            <img alt="..." src="~/@ViewBag.job[i].Logo" class="avatar avatar-sm rounded-circle me-2">
                        <a class="text-heading font-semibold" href="#">
                                @ViewBag.job[i].Company_Name
                        </a>
                    </td>
                    <td>
                            @ViewBag.job[i].Date.Split(" ")[0]
                    </td>
                        <td>
                            <span class="badge badge-lg badge-dot">
                                @ViewBag.job[i].Jobtype
                            </span>
                        </td>
                    <td>
                        
                        <a class="text-heading font-semibold" href="#">
                            @ViewBag.job_app[i][0]
                        </a>
                    </td>
                    <td>
                            @ViewBag.job_app[i][1]
                    </td>
                    
                   
                </tr>
               }

            </tbody>
        </table>
    </div>
    <div class="card-footer border-0 py-5">
        <span class="text-muted text-sm">Showing 10 items out of 250 results found</span>
    </div>
</div>
