@model Job
<div style="height: 60vh">
    
    <div class="d-flex justify-content-end mr-4 mt-2">
        <button class="btn d-inline-flex btn-sm btn-primary mx-1 my-2 modal-toggler" data-toggle="modal" type="button" data-target="#EmployerModal">
            <span class=" pe-2">
                <i class="bi bi-plus"></i>
            </span>
            <span>Create Job Posts</span>
        </button>
    </div>
    <div class="tab-table">
        
        <ul>
            <li class="tab-item active" target-wrapper="first-dynamic-table" target-tab="home">Active Jobs</li>
            <li class="tab-item" target-wrapper="first-dynamic-table" target-tab="faqs">Applicants</li>
            <li class="tab-item" target-wrapper="first-dynamic-table" target-tab="history">History</li>
            
        </ul>
        <div id="first-dynamic-table" style="margin-left:-5%;width: 83vw">
            <div class="tab-content active" id="home">
                <div class="table-responsive">
                    <table class="table table-hover table-nowrap">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Role</th>
                                <th scope="col">Type</th>
                                <th scope="col">Date of Post</th>
                                <th scope="col">Requirement</th>
                                <th scope="col">Selected</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var i in ViewBag.jobs){
                            <tr>
                                <td>
                                    
                                    <a class="text-heading font-semibold" href="#">
                                            @i.JobTitle
                                    </a>
                                </td>
                                <td>
                                    @i.JobRole
                                </td>
                                <td>
                                  
                                    <a class="text-heading font-semibold" href="#">
                                        @i.Jobtype
                                    </a>
                                </td>
                                <td>
                                    @i.Date.Split(" ")[0]
                                </td>
                                <td>
                                    <span class="badge badge-lg badge-dot">
                                            <i class="bg-success"></i>@i.Total_req
                                    </span>
                                </td>
                                    <td>
                                        <span class="badge badge-lg badge-dot">
                                            <i class="bg-success"></i>@i.Total_select
                                        </span>
                                    </td>
                                <td class="text-end">
                                        <a href="#" class="btn btn-sm btn-neutral" onclick="jobget('@i.Id')">Edit</a>
                                        <a href="#" class="btn btn-sm btn-danger" onclick="jobstatus('@i.Id')">Mark as Inactive</a>
                                </td>
                            </tr>
                           }

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-content" id="history">
                <div class="table-responsive">
                    <table class="table table-hover table-nowrap">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Role</th>
                                <th scope="col">Type</th>
                                <th scope="col">Date of Post</th>
                                <th scope="col">Requirement</th>
                                <th scope="col">Selected</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var i in ViewBag.history)
                            {
                                <tr>
                                    <td>

                                        <a class="text-heading font-semibold" href="#">
                                            @i.JobTitle
                                        </a>
                                    </td>
                                    <td>
                                        @i.JobRole
                                    </td>
                                    <td>

                                        <a class="text-heading font-semibold" href="#">
                                            @i.Jobtype
                                        </a>
                                    </td>
                                    <td>
                                        @i.Date.Split(" ")[0]
                                    </td>
                                    <td>
                                        <span class="badge badge-lg badge-dot">
                                            <i class="bg-success"></i>@i.Total_req
                                        </span>
                                    </td>
                                    <td>
                                        <span class="badge badge-lg badge-dot">
                                            <i class="bg-success"></i>@i.Total_select
                                        </span>
                                    </td>
                                    <td class="text-end">
                                        <a href="#" class="btn btn-sm btn-neutral" onclick="jobget('@i.Id')">Edit</a>
                                        <a href="#" class="btn btn-sm btn-danger" onclick="jobstatus('@i.Id')">Mark as Active</a>
 
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-content" id="faqs">
                <div class="table-responsive">
                    <table class="table table-hover table-nowrap">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Job Title</th>
                                <th scope="col">Applicant Name</th>
                                <th scope="col">Resume</th>
                                <th scope="col">Profile</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var i in ViewBag.apply){
                            <tr>
                                <td>
                                    <img alt="..." src="~/@i.image" class="avatar avatar-sm rounded-circle me-2">
                                    <a class="text-heading font-semibold" href="#">
                                        Robert Fox
                                    </a>
                                </td>
                                <td>
                                    @i.Name
                                </td>
                                <td>
                                    <a href="~/@i.resume" >
                                            <button class="btn d-inline-flex btn-sm btn-primary mx-1" type="button">
                                                <span class=" pe-2">
                                                    <i class="bi bi-download"></i>
                                                </span>
                                                <span>Download</span>
                                            </button>
                                        </a>
                                </td>
                                <td>
                                        <button class="btn d-inline-flex btn-sm btn-primary mx-1" type="button" onclick="window.location.pathname='/Home/Profile/@i.userid'">
                                            <span class=" pe-2">
                                                <i class="bi bi-eye"></i>
                                            </span>
                                            <span>View</span>
                                        </button>
                                </td>
                                
                                <td class="text-end">
                                    <a href="#" class="btn btn-sm btn-success" onclick="jobapply(@i.applyid)">Accept</a>
                                        <a href="#" class="btn btn-sm btn-danger" onclick="jobreject(@i.applyid)">Reject</a>

                                </td>
                            </tr>
                            }
                            

                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
    </div>

    <div class="modal fade" id="EmployerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" style="min-width:min(800px,95vw) !important">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Company</h4>
                    <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                 <form method="post">
                   
                <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">
                                    <input type="hidden" asp-for="Id" id="id" value="0" />
                                    <label>Job Title</label>
                                </div>
                                <div class="col-6">

                                    <label>Job Role</label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-6">

                                    <input type="text" class="form-control" placeholder="Job Title" asp-for="JobTitle" id="title">
                                    <span asp-validation-for="JobTitle"></span>
                                </div>
                                <div class="col-6">

                                    <input type="text" class="form-control" placeholder="Job Role" asp-for="JobRole" id="role">
                                    <span asp-validation-for="JobRole" ></span>

                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">

                                    <label>Job Description</label>
                                </div>


                            </div>
                            <div class="row mt-2">
                                <div class="col-12">

                                    <textarea style="resize:none" type="text" style="height: 100px" class="form-control" placeholder="Job Description" asp-for="JobDescription" id="desc"></textarea>
                                    <span asp-validation-for="JobDescription"></span>

                                </div>

                            </div>
                            <div class="row mt-2">
                                <div class="col-6">

                                    <label>Job Skills</label>
                                </div>
                                <div class="col-6">

                                    <label>Job Salary</label>
                                </div>

                            </div>
                            <div class="row mt-2">
                                <div class="col-6">

                                    <input type="text" class="form-control" placeholder="Job Skills(Comma Seperated)" asp-for="JobSkill" id="skill">
                                    <span asp-validation-for="JobSkill"></span>

                                </div>
                                <div class="col-6">

                                    <input type="number" class="form-control" placeholder="Job Salary in LPA" asp-for="Jobsalary" id="salary">
                                    <span asp-validation-for="Jobsalary" ></span>

                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-6">

                                    <label>Job Experience</label>
                                </div>
                                <div class="col-6">

                                    <label>Total Required</label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-6">

                                    <select class="form-control" asp-for="JobExperience" id="ex">
                                        <option value="Any">Any</option>
                                        <option value="Fresher">Fresher</option>
                                        <option value="Mid-Level">Mid-Level(0-4 yrs)</option>
                                        <option value="Experienced">Experienced(5+ yrs)</option>

                                    </select>
                                </div>
                                <div class="col-6">

                                    <input type="number" class="form-control" placeholder="Required Employees" asp-for="Total_req" id="req">
                                    <span asp-validation-for="Total_req"></span>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    Job Locations
                                </div>
                                <div class="col-6">
                                    Job Type
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <input type="text" class="form-control" placeholder="Locations(Comma Seperated)" asp-for="Locations" id="loc">
                                    <span asp-validation-for="Locations"></span>

                                </div>
                                <div class="col-6">
                                    <select class="form-control" asp-for="Jobtype" id="type">
                                        <option value="On Site">On Site</option>
                                        <option value="Work From Home">Work From Home</option>
                                        <option value="Internship">Internship</option>
                                        

                                    </select>
                                </div>
                            </div>

                        </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Add</button>
                    <button type="button" class="btn btn-danger close-modal" data-dismiss="modal">Close</button>
                </div>
                </form>
            </div>
             
        </div>
        
    </div>


</div>
<div class="gap" style="background-color:unset"></div>
<style>
    .tab-content {
        width: 100%;
        display: none;
    }

</style>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}