
<div class="container emp-profile mt-4">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="~/@ViewBag.details.Image" alt="" id="pic" style="height:200px;" />
                     @if (ViewBag.view == null)
                        {
                       
                    <div class="file btn btn-lg btn-primary" onclick="photochange()">
                        Change Photo
                        <input type="file" name="file" id="profile-pic" onchange="photoupload()" />

                    </div>
                        }
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        @ViewBag.details.First_Name  @ViewBag.details.Last_Name
                    </h5>
                    <h6>
                        Joined @ViewBag.details.DOJ.Split(" ")[0]
                    </h6>
                    <p class="proile-rating"></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Education</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="exp-tab" data-bs-toggle="tab" href="#experience" role="tab" aria-controls="experience" aria-selected="false">Experience</a>
                        </li>
                        @if (ViewBag.view == null)
                        {
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#applications" role="tab" aria-controls="profile" aria-selected="false">Applications</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                 @if (ViewBag.view == null)
                        {
                       
                <form method="post"><button type="submit" asp-controller="Home" asp-action="Logout" class="profile-edit-btn" name="btnAddMore" value="Logout">Logout</button></form>
                        }
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>Social Links</p>
                    <a href="@ViewBag.details.Link"><i class="bi bi-linkedin"></i>&nbsp;LinkedIn</a><br />
                    <a href="@ViewBag.details.Git"><i class="bi bi-github"></i>&nbsp;Github</a><br />
                    <p>SKILLS</p>
                    @foreach(var skills in ViewBag.details.Skills.Split(","))
                    {
                        <a href="">@skills</a>

                        <br />

                    }
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                         @if (ViewBag.view == null)
                        {

                            <div class="d-flex justify-content-end mr-3">
                                <button class="btn d-inline-flex btn-sm btn-danger mx-1 modal-toggler2" data-toggle="modal" type="button" data-target="#AboutModal">
                                    <span class=" pe-2">
                                        <i class="bi bi-pen"></i>
                                    </span>
                                    <span>Edit</span>
                                </button>

                            </div>
                        }
                        <div class="row">
                            <div class="col-md-6">
                                <label>Date of Birth</label>
                            </div>
                            <div class="col-md-6">
                                <p>@ViewBag.details.DOB</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Address</label>
                            </div>
                            <div class="col-md-6">
                                <p>@ViewBag.details.Address</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>State</label>
                            </div>
                            <div class="col-md-6">
                                <p>@ViewBag.details.State</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Country</label>
                            </div>
                            <div class="col-md-6">
                                <p>@ViewBag.details.Country</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-6">
                                <p>@ViewBag.details.Phone</p>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label>Resume</label>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    <a href="~/@ViewBag.details.Resume"><button class="btn d-inline-flex btn-sm btn-primary mx-1"  type="button" >
                                        <span class=" pe-2">
                                            <i class="bi bi-download"></i>
                                        </span>
                                        <span>Download</span>
                                        </button>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                         @if (ViewBag.view == null)
                        {

                            <div class="d-flex justify-content-end mr-3 mb-2">
                                <button class="btn d-inline-flex btn-sm btn-danger mx-1 modal-toggler2" data-toggle="modal" type="button" data-target="#EducationModal">
                                    <span class=" pe-2">
                                        <i class="bi bi-plus"></i>
                                    </span>
                                    <span>Add</span>
                                </button>
                            </div>
                        }
                        <div style="max-width:700px">
                            <button class="accordion">Secondary</button>
                            <div class="panel">
                                 @if (ViewBag.view == null)
                                {

                                    <div class="d-flex justify-content-end mr-3 mt-2">
                                        <button class="btn d-inline-flex btn-sm btn-danger mx-1 modal-toggler2" data-toggle="modal" type="button" data-target="#EducationModal" onclick="eduget(0)">
                                            <span class=" pe-2">
                                                <i class="bi bi-pen"></i>
                                            </span>
                                            <span>Edit</span>
                                        </button>
                                    </div>
                                }
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Institute Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@ViewBag.education[0].Institute_Name</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Course Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@ViewBag.education[0].Course_Name</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Duration</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@ViewBag.education[0].start_date - @ViewBag.education[0].end_date </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Marks (In Percentage/CGPA)</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@ViewBag.education[0].marks</p>
                                    </div>
                                </div>
                            </div>

                            <button class="accordion">Senior Secondary</button>
                            <div class="panel">
                                 @if (ViewBag.view == null)
                                {

                                    <div class="d-flex justify-content-end mr-3 mt-2">
                                        <button class="btn d-inline-flex btn-sm btn-danger mx-1 modal-toggler" data-toggle="modal" type="button" data-target="#EducationModal" onclick="eduget(1)">
                                            <span class=" pe-2">
                                                <i class="bi bi-pen"></i>
                                            </span>
                                            <span>Edit</span>
                                        </button>
                                    </div>
                                }
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Institute Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@ViewBag.education[1].Institute_Name</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Course Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@ViewBag.education[1].Course_Name</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Duration</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@ViewBag.education[1].start_date - @ViewBag.education[1].end_date </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Marks (In Percentage/CGPA)</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@ViewBag.education[1].marks</p>
                                    </div>
                                </div>
                            </div>

                            <button class="accordion">College Details</button>
                            <div class="panel">
                                 @if (ViewBag.view == null)
                                {

                                    <div class="d-flex justify-content-end mr-3 mt-2">
                                        <button class="btn d-inline-flex btn-sm btn-danger mx-1 modal-toggler" data-toggle="modal" type="button" data-target="#EducationModal" onclick="eduget(2)">
                                            <span class=" pe-2">
                                                <i class="bi bi-pen"></i>
                                            </span>
                                            <span>Edit</span>
                                        </button>
                                    </div>
                                }
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Institute Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@ViewBag.education[2].Institute_Name</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Course Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@ViewBag.education[2].Course_Name</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Duration</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@ViewBag.education[2].start_date - @ViewBag.education[2].end_date </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Marks (In Percentage/CGPA)</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@ViewBag.education[2].marks</p>
                                    </div>
                                </div>
                            </div>
                            @for(var i=3;i<ViewBag.education.Count;i++){
                            <button class="accordion">Education @(i+1)</button>
                                <div class="panel">
                                    @if (ViewBag.view == null)
                                    {

                                        <div class="d-flex justify-content-end mr-3 mt-2">
                                            <button class="btn d-inline-flex btn-sm btn-danger mx-1 modal-toggler" data-toggle="modal" type="button" data-target="#EducationModal" onclick="eduget(@i)">
                                                <span class=" pe-2">
                                                    <i class="bi bi-pen"></i>
                                                </span>
                                                <span>Edit</span>
                                            </button>
                                        </div>
                                    }
                                    <div class="row">
                                    <div class="col-md-6">
                                        <label>Institute Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@ViewBag.education[i].Institute_Name</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Course Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@ViewBag.education[i].Course_Name</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Duration</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@ViewBag.education[i].start_date - @ViewBag.education[i].end_date </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Marks (In Percentage/CGPA)</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@ViewBag.education[i].marks</p>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                        </div>
                        <div class="tab-pane fade" id="experience" role="tabpanel" aria-labelledby="exp-tab">
                             @if (ViewBag.view == null)
                        {

                            <div class="d-flex justify-content-end mr-3 mb-2">
                                <button class="btn d-inline-flex btn-sm btn-danger mx-1 modal-toggler2" data-toggle="modal" type="button" data-target="#ExperienceModal">
                                    <span class=" pe-2">
                                        <i class="bi bi-plus"></i>
                                    </span>
                                    <span>Add</span>
                                </button>
                            </div>
                        }
                        <div style="max-width:700px">
                                @if (ViewBag.experience!=null)
                                {
                                    @for (int i=0;i<ViewBag.experience.Count ; i++)
                                    {
                                    <button class="accordion">@ViewBag.experience[i].Company</button>
                                    <div class="panel">
                                        @if (ViewBag.view == null)
                                        {

                                            <div class="d-flex justify-content-end mr-3 mt-2">
                                                <button class="btn d-inline-flex btn-sm btn-danger mx-1 modal-toggler2" data-toggle="modal" type="button" data-target="#ExperienceModal" onclick="expget(@i)">
                                                    <span class=" pe-2">
                                                        <i class="bi bi-pen"></i>
                                                    </span>
                                                    <span>Edit</span>
                                                </button>
                                            </div>
                                        }
                                        <div class="row">
                                                <div class="col-md-6">
                                                    <label>Role</label>
                                                </div>
                                                <div class="col-md-6">
                                                <p>@ViewBag.experience[i].Role</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Duration</label>
                                                </div>
                                                <div class="col-md-6">
                                                <p>@ViewBag.experience[i].start_date - @(ViewBag.experience[i].end_date != null ? ViewBag.experience[i].end_date : "Current") </p>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    }
                                }

                            
</div>
                    </div>
                     @if (ViewBag.view == null)
                    {

                        <div class="tab-pane fade" id="applications" role="tabpanel" aria-labelledby="exp-tab">
                            <div class="table-responsive applicant">
                                <table class="table table-hover table-nowrap">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">Company</th>
                                            <th scope="col">Job</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var i in ViewBag.application)
                                        {
                                            <tr>
                                                <td>@i.Company</td>
                                                <td>@i.Title</td>
                                                @if (i.status == "Applied")
                                                {
                                                    <td class="text-info">@i.status</td>
                                                }
                                                else if (i.status == "Accepted")
                                                {
                                                    <td class="text-success">@i.status</td>

                                                }
                                                else
                                                {
                                                    <td class="text-danger">@i.status</td>

                                                }
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>


                        </div>
                    }



                </div>
            </div>
        </div>
    
</div>
 @if (ViewBag.view == null)
{

    <div class="modal fade" id="AboutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" style="min-width:min(800px,95vw) !important">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">About</h4>
                    <button type="button" class="close close-modal2"  data-dismiss="modal" aria-label="Close" data-target="#AboutModal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <div class="row">
                                <input type="hidden" id="about-id" value="@ViewBag.details.Id" />
                                <div class="col-6">

                                    <label>First Name</label>
                                </div>
                                <div class="col-6">

                                    <label>Last Name</label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-6">

                                    <input type="text" class="form-control" placeholder="First Name" id="f_name" value="@ViewBag.details.First_Name">
                                </div>
                                <div class="col-6">

                                    <input type="text" class="form-control" placeholder="Last Name" id="l_name" value="@ViewBag.details.Last_Name">
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-6">

                                    <label>Address</label>
                                </div>
                                <div class="col-6">

                                    <label>Country</label>
                                </div>

                            </div>
                            <div class="row mt-2">
                                <div class="col-6">

                                    <input type="text" class="form-control" placeholder="Address" id="add"  value="@ViewBag.details.Address">
                                </div>
                                <div class="col-6">

                                    <input type="text" class="form-control" placeholder="Country" id="country"  value="@ViewBag.details.Country">
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-6">

                                    <label>State</label>
                                </div>
                                <div class="col-6">

                                    <label>Date of Birth</label>
                                </div>

                            </div>
                            <div class="row mt-2">
                                <div class="col-6">

                                    <input type="text" class="form-control" placeholder="State" id="state" value="@ViewBag.details.State">
                                </div>
                                <div class="col-6">

                                    <input type="date" class="form-control" id="dob" placeholder="DOB" value="@ViewBag.details.DOB">
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-6">

                                    <label>Github</label>
                                </div>
                                <div class="col-6">

                                    <label>LinkedIn</label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-6">

                                    <input type="text" class="form-control" placeholder="Github URL" id="git" value="@ViewBag.details.Git">
                                </div>
                                <div class="col-6">

                                    <input type="text" id="link" class="form-control" placeholder="LinkedIn URL" value="@ViewBag.details.Link">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    Skills
                                </div>
                                <div class="col-6">
                                    Phone
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <input type="text" class="form-control" id="skills" placeholder="Skills" value="@ViewBag.details.Skills">
                                </div>
                                <div class="col-6">
                                    <input type="text" class="form-control" id="phone" placeholder="Phone" value="@ViewBag.details.Phone">
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-6">
                                    <input type="file" class="form-control-file resume" id="about_resume"   onchange="previewResume2(0)" style="display:none">
                                    <button type="button" class="btn btn-primary" onclick="trigger2('resume',0)">Upload Resume</button>
                                </div>
                                <div class="col-6">
                                    <embed id="preview-resume" class="preview-resume" src="~/@ViewBag.details.Resume" type="application/pdf" style="width: 200px; height: 200px">
                                </div>
                            </div>


                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success about-update">Update</button>
                    <button type="button" class="btn btn-danger close-modal2" data-dismiss="modal" data-target="#AboutModal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="EducationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" style="min-width:min(800px,95vw) !important">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Education</h4>
                    <button type="button" class="close close-modal2" data-dismiss="modal" aria-label="Close" data-target="#EducationModal" >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <div class="row">
                                <input type="hidden" id="ed-id" value="0"  />
                                <input type="hidden" id="emp-id" value="@ViewBag.details.Id" />

                                <div class="col-6">

                                    <label>Institute Name</label>
                                </div>
                                <div class="col-6">

                                    <label>Stream Name</label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-6">

                                    <input type="text" class="form-control" placeholder="Institute Name" id="ins_name">
                                </div>
                                <div class="col-6">

                                    <input type="text" class="form-control" placeholder="Stream Name" id="stream_name" >
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-6">
                                    <label>Start Date</label>
                                </div>
                                <div class="col-6">

                                    <label>End Date</label>
                                </div>

                            </div>
                            <div class="row mt-2">
                                <div class="col-6">

                                    <input type="date" class="form-control" placeholder="Address" id="start_date" >
                                </div>
                                <div class="col-6">

                                    <input type="date" class="form-control" placeholder="" id="end_date">
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">

                                    <label>Marks</label>
                                </div>


                            </div>
                            <div class="row mt-2">
                                <div class="col-12">

                                    <input type="text" class="form-control" placeholder="Marks" id="marks" >
                                </div>
                            </div>



                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success education-add">Update</button>
                    <button type="button" class="btn btn-danger close-modal2" data-dismiss="modal" data-target="#EducationModal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="ExperienceModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" style="min-width:min(800px,95vw) !important">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Experience</h4>
                    <button type="button" class="close close-modal2" data-dismiss="modal" aria-label="Close" data-target="#ExperienceModal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <div class="row">
                                <input type="hidden" id="ex-id" value="0" />
                                <input type="hidden" id="emp-id" value="@ViewBag.details.Id" />

                                <div class="col-6">

                                    <label>Company Name</label>
                                </div>
                                <div class="col-6">

                                    <label>Role/Designation Name</label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-6">

                                    <input type="text" class="form-control" placeholder="Company Name" id="comp_name">
                                </div>
                                <div class="col-6">

                                    <input type="text" class="form-control" placeholder="Designation Name" id="role_name">
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-6">
                                    <label>Start Date</label>
                                </div>
                                <div class="col-6">

                                    <label>End Date(No need to give if Current)</label>
                                </div>

                            </div>
                            <div class="row mt-2">
                                <div class="col-6">

                                    <input type="date" class="form-control" placeholder="Address" id="start_date2">
                                </div>
                                <div class="col-6">

                                    <input type="date" class="form-control" placeholder="" id="end_date2">
                                </div>
                            </div>




                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success experience-add">Add/Update</button>
                    <button type="button" class="btn btn-danger close-modal2" data-dismiss="modal" data-target="#ExperienceModal">Close</button>
                </div>
            </div>
        </div>
    </div>
}